<div class="wrapper">
  <div class="main">
    <div class="section section-light-blue section-nucleo-icons">
    </div>

    <div class="section">
      <div class="container">
        <div class="row featurette">
          <div class="col-md-6" *ngIf="model.title">
            <h2 class="featurette-heading">{{model.title}} </h2>
            <p class="lead">{{model.description}}</p>
            <br>
            <br>
            <strong class="align-text-bottom">{{model.user.name}} {{model.user.lastName}}</strong>
            <p class="align-text-bottom">{{model.user.email}}</p>
            <p class="align-text-bottom">{{model.date | date}}</p>
          </div>
          <div class="col-md-6 text-center">
            <img #image *ngIf="model.file" class="featurette-image img-fluid mx-auto" [src]="apiUrl + model.file"
              (error)="errorHandler($event)">
            <button style="margin-top:10px" (click)="viewDetail(model.file)" class="btn btn-success">Analizar
              imagen</button>
          </div>
        </div>
        <hr class="featurette-divider">
        <agm-map *ngIf="model.latitude" [latitude]="model.latitude" [longitude]="model.longitude">
          <agm-marker [latitude]="model.latitude" [longitude]="model.longitude" [label]="'Robo'">
          </agm-marker>
        </agm-map>

      </div>
    </div>
  </div>
</div>